
*.vsidx
OrderingNumbersGame/OrderingNumbersGame/bin/Debug/net5.0-windows/OrderingNumbersGame.pdb
*.dll
OrderingNumbersGame/.vs/OrderingNumbersGame/v17/.suo
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame.dll
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame.pdb
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame_i3duktn1_wpftmp.AssemblyInfo.cs
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame_i3duktn1_wpftmp.AssemblyInfoInputs.cache
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame_i3duktn1_wpftmp.assets.cache
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame_i3duktn1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
*.dll
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame.dll
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame.pdb
OrderingNumbersGame/OrderingNumbersGame/bin/Debug/net5.0-windows/OrderingNumbersGame.pdb
OrderingNumbersGame/OrderingNumbersGame/bin/Debug/net5.0-windows/OrderingNumbersGame.dll
OrderingNumbersGame/.vs/OrderingNumbersGame/v17/.suo
OrderingNumbersGame/.vs/OrderingNumbersGame/FileContentIndex/9aa8cbe3-83a6-4098-955a-6f911d11390b.vsidx
OrderingNumbersGame/.vs/OrderingNumbersGame/v17/.suo
OrderingNumbersGame/.vs/OrderingNumbersGame/FileContentIndex/9aa8cbe3-83a6-4098-955a-6f911d11390b.vsidx
OrderingNumbersGame/OrderingNumbersGame/bin/Debug/net5.0-windows/OrderingNumbersGame.pdb
OrderingNumbersGame/OrderingNumbersGame/bin/Debug/net5.0-windows/OrderingNumbersGame.dll
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame.dll
OrderingNumbersGame/OrderingNumbersGame/obj/Debug/net5.0-windows/OrderingNumbersGame.pdb
